.block {
  list-style-type: none;
  margin-top: 50px;
  margin-left: 20px;
}

.positionPhoto {
  float: left;
  margin: 30px;
}

.featuresListItem {
  position: relative;
  margin-bottom: -4px;
  width: 330px;
}

.imgProduct {
  width: 330px;
  height: 220px;
}

.featuresListItem:hover .blocks {
  display: block;
}

.blocks {
  position: absolute;
  left: 45px;
  bottom: 0;
  right: 0;
  top: 35px;
  height: 145px;
  width: 234px;
  padding: 5px;
  display: none;
}

.iconsWrapperWide {
  padding-left: 50px;
  background: #4a4a4d;
  cursor: pointer;
}

.iconsWrapperWide:hover {
  background: #323232;
}

.textIcon {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.name {
  font-family: 'Roboto';
  color: #4a4a4d;
  text-align: center;
}

.collection {
  font-family: 'Roboto';
  color: black;
  text-align: center;
}

.price {
  font-family: 'Roboto';
  color: #4a4a4d;
  text-align: center;
}
